<template>
  <div>
    <h1>Form</h1>
    <SignalBlock>
        <TextBox label="email" :validator="emailValidator"/>
    </SignalBlock>
  </div>
</template>

<script>
import SignalBlock from './SignalBlock'
import TextBox from './TextBox'
import EmailValidator from '@/validator/EmailValidator'

export default {
  components: {
    SignalBlock,
    TextBox
  },
  data () {
    return {
      emailValidator: new EmailValidator()
    }
  }
}
</script>

<style>
</style>
