<template>
    <div>
        <p class="signal" :class="[
            {
            'red': state === EMPTY,
            'yellow': state === INVALID,
            'green': state === VALID
            }
            ]"></p>
        <slot></slot>
    </div>
</template>

<script>
import { EMPTY, INVALID, VALID } from '@/validator/ValidationState'
export default {
  name: 'SignalBlock',
  data () {
    return {
      EMPTY,
      INVALID,
      VALID,
      state: EMPTY
    }
  },
  mounted () {
    this.$children.forEach((child) => {
      child.$on('input', this.onInputSlot)
    })
  },
  methods: {
    onInputSlot () {
      this.state = arguments[0]
    }
  }
}
</script>

<style>
.signal {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0;
  display: inline-block;
}
.signal.green {
  background-color: green;
}

.signal.yellow {
  background-color: yellow;
}

.signal.red {
  background-color: red;
}
</style>
