<template>
  <label>
    {{ label }}
    <input type="text"
           :size="size"
           v-model="model"
    />
  </label>
</template>

<script>
import Validator from '@/validator/Validator'

export default {
  name: 'TextBox',
  props: {
    label: {
      type: String
    },
    size: {
      type: Number,
      default: 30
    },
    validator: {
      type: Validator
    }
  },
  data () {
    return {
      value: ''
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (value) {
        this.value = value
        this.onChangeInput()
      }
    }
  },
  methods: {
    onChangeInput (event) {
      this.$emit('input', this.validator.validate(this.value))
    }
  }
}
</script>

<style>
</style>
